/* .Annie{
    color: blue;
}
.Emerald{
    color: #e62c89;
}
.Chali{
color: brown;
}
.Annie.Chali{
    color: red;
    border: 4px dashed #2b08f5;
}
h1{
    color: yellowgreen;
    border: 1px dashed #2b08f5;
}
#content{
    background-color:#ebebeb ;
    padding: 20px;
} */

/*div p{
    color: purple;
}*/
/*a[href='https://www.thenetninja.co.uk']{
    background-color: #3d3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href='https://www.google.com']{
    color: white;
    background-color: red;
    border: blue solid;
}*/

div{
    color: lightcoral;
    border: 1px solid gray;
    margin: 40px;
    font-weight: bold;
}
p{
    color: crimson;
    border: inherit;
    margin: inherit;
}